<p>
  <strong>Title:</strong>
  <%= markdown(@wiki.title) %>
</p>

<p>
  <strong>Body:</strong>
  <%= markdown(@wiki.body) %>
</p>

<%= link_to 'Back', wikis_path %>
<%= link_to 'Edit', edit_wiki_path %>
